.hero {
  position: absolute;
  top: 12%;
  left: 5%;
  text-align: left;
  /*background-image: url("../Images/heroImage.png");*/
}
.hero h1 {
  font-weight:bold;
  font-style:normal;
  color: white;
  font-size: 6vw;
  text-align: left;
}
.hero h2 {
  font-weight:lighter;
  font-style:normal;
  color: white;
  font-size: 5vw;
  text-align: left;
  line-height: 5vw;
}
.hero h3 {
  font-weight:normal;
  font-style:normal;
  color: white;
  font-size: 20px;
  text-align: left;
}
.heroButtonHolder {
  position: absolute;
  top: 3%;
  left: 5%;
  text-align: left;
}

.paddingTopSm {
  padding-top: 20px;
}
.paddingTopMd {
  padding-top: 40px;
}
.paddingTopLg {
  padding-top: 60px;
}
.paddingBottomSm {
  padding-bottom: 20px;
}
.paddingBottomMd {
  padding-bottom: 40px;
}
.paddingBottomLg {
  padding-bottom: 60px;
}
.paddingVirticleSm {
  padding: 20px 0 20px 0;
}
.paddingVirticleMd {
  padding: 40px 0 40px 0;
}
.paddingVirticleLg {
  padding: 60px 0 60px 0;
}
img.cardImageHolder {
  padding: 50px;
}
.cardWidthMd {
  max-width: 50%;
}


* { box-sizing: border-box; }

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: #00997B;
  border: 1px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin-bottom: 20px;
}

.grid-item--width2 { width: 340px; }
.grid-item--width3 { width: 520px; }
.grid-item--width4 { width: 780px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  flex-direction: row-reverse;
  
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
  
  
}

/* Style your items */
.my-masonry-grid_column > div { 
  background: grey;
  margin-bottom: 30px;

}
